body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    /* background-color: #EEF1FF; */
    background-color: #2C2C2C;
    color: #73777B;
}

.container-fluid {
    padding: 0;
}



/******************* Title *********************/
#title {
    /* padding: 0%; */
}

/*Navbar*/
.navbar {
    padding: 0.5% 5%;
    background-color: #2C2C2C;

}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    /* font-size: 2.5rem; */
}

.brand-h1 {
    /* position: absolute; */
    color: #C21010;
    font-size: 2.2rem;
    font-weight: 900;
    padding-top: 1.5%;
    /* top: 32%;
    left: 15%; */
}

.brand-logo {
    width: 100%;
    height: 100px;
    float: left;
}

.search-bar {
    border-radius: 20px;
    background-color: #383838;
    color: #000;
}

/* .search-click {
    background-color: #7F8487;
} */

.search-btn {
    border-radius: 20px;
    background-color: #C21010;
    color: #fff;
}

.search-btn:hover {
    background-color: #FF1E00;
    color: #02013d;
}

.search-all-box {

}

/*Sub-option*/
#sub-options {
    /* background-color: #101010; */
    background-color: #2c2c2c;
    height: 50px;
    position: relative;
    border-radius: 30px;
}

.cl-title {
    background-color: #D2DAFF;
    margin-left: 10px;
    width: 15%;
    height: 35px;
    border-radius: 30px;
    text-align: center;
}

.sub-element {
    position: relative;
    bottom: 10px;
    color: #C21010;
    /* background-color: #C21010; */
}

.sub-element:hover {
    color: #fff;
}

.opt-btn {
    background-color: #101010;
    color: #C21010;
}

.opt-btn:hover {
    background-color: #C21010;
    color: #101010;
}

/***********************News Section************************/
#news-section {
    padding: 1% 3% 3% 3%;
    /* background-color: #fff; */
    border-radius: 35px;

    /* background-color: #1f1f1f; */
    background-color: #121111;
    /* background-color: #212121; */
    /* box-shadow: 10px 10px 5px 12px blue; */
}

#newsType {
    margin: 3% 0 2% 0;
    text-align: center;
    width: auto;
    color: #C8C6C6;
}

.newsType-font {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.date-class {
    color: #D1D1D1;
}

.newsType-image {
    width: 200px;
    height: 100px
}

.news-Details {
    /* border: 1px solid; */
    margin: 0 0 0 0;
    background-color: #121111;
    /* box-shadow: 12px 12px 12px 12px blue; */
}

.newsImg {
    border-radius: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 170px;
}

.card-body {
    /* border: 1px solid; */
    text-align: center;
    
}

.card-title {
    /* border: 1px solid; */
    font-weight: bold;
    color: #D1D1D1;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.card-col {
    /* margin: 5px;  */
    /* border: 1px solid; */
    border-radius: 20px;
    padding: 0;
    /* background-color: #D2DAFF; */
    background-color: #2c2c2c;
}

.card {
    margin: 1;
    border-radius: 20px;
}

.card-layout {
    /* margin: 1px; */
    border-radius: 20px;
    /* border: 1px solid; */
    line-height: 1.4;
    /* background-color: #D2DAFF; */
    background-color: #2c2c2c;
}

/*Card-column*/
@media (min-width: 1101px) {
    .card-col {
        width: 23.9%;
        /* height: 800px; */
        margin: 1% 0.5%;
    }
}

@media (min-width: 0px) and (max-width: 550px) { /*600*/
    .card-col {
        width: 100%;
        margin-bottom: 7%;
    }

    .newsImg {
        border-radius: 20px;
        margin: 5px auto 30px auto;
        position: relative;
        left: 4.3%;
        width: 90%;
        height: 190px;
    }

    .search-all-box {
        margin: 20px 0;
    }

    .navbar {
        padding-bottom: 10px;
    }

    .toggler-icon {
        position: absolute;
        top: 18px;
        right: 35px;
        box-shadow: none;
    }

    #sub-options {
        /* background-color: #101010; */
        background-color: #2c2c2c;
        height: 50px;
        position: relative;
        border-radius: 30px;
        margin: 2% 0 7% 0;
    }

    .sub-txt {
        margin-top: 7px;
        font-size: 0.5rem;
    }
    /* .fa-user {
    font-size: 1.5rem;
    color: #fff;
    /* position: absolute; */
    /* position: relative;
    right: 31.3px;
    } */

    /* .user-btn {
        
    } */ 

/* .fa-user-support {
    width: 3.7%;
    height: 40px;
    background-color: white;
    margin-left: 25px;
    border-radius: 100%;
} */
}

@media (min-width: 551px) and (max-width: 900px) { /*950*/
    .card-col {
        width: 48%;
        margin: 2% 1%;
    }

    .newsImg {
        border-radius: 20px;
        margin: 5px auto 30px auto;
        position: relative;
        left: 2.25%;
        width: 95%;
        height: 190px;
    }

    #sub-options {
        /* background-color: #101010; */
        background-color: #2c2c2c;
        height: 50px;
        position: relative;
        border-radius: 30px;
        margin: 2% 0 5% 0;
    }

    .search-all-box {
        margin: 20px 0;
    }
}

@media (min-width: 901px) and (max-width: 1150px) {
    .card-col {
        width: 31.83%;
        margin: 0 1.5% 2% 0;
    }

    #sub-options {
        /* background-color: #101010; */
        background-color: #2c2c2c;
        height: 50px;
        position: relative;
        border-radius: 30px;
        margin: 1.5% 0 5% 0;
    }

    .search-all-box {
        margin: 20px 0;
    }
}

.link-btn {
    /* border: 1px solid;
    color: red;*/
    margin-top: 20px;
    border-radius: 15px;
    background-color: #101010;
    color: #C21010;
}

.link-btn:hover {
    background-color: #C21010;
    color: #101010;
}


/************************Footer********************/
#footer {
    padding: 5% 5%;
    text-align: center;
}

.feedback {
    padding: 5% 5%;
}

/*icons*/
.f-icon {
    margin: 0 20px 15px 0;
    color: #E97171;
    font-size: 1.5rem;
}
